.profilePicture{
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.mainBtn{
    background-color: #03045e;
    font-weight: 800;
}

.footerColumn{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footerProduct{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
}