@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Libre+Bodoni:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');


body {
    background-color: #d8e5fa;
}

/*=============================== HEADER ===============================*/
.strip-top {
    height: 45px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0077b6;
    text-decoration: none;
    position: fixed;
}

.logo {
    width: 50px;
    height: 35px;
    margin: 10px;
    margin-left: 55px;
    border-radius: 15px;
    border: 1px solid #d5f3f9;
}

nav {
    width: 400px;
    margin-right: 35px;
    display: flex;
    justify-content: space-around;
}

.tagA {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #d5f3f9;
}


/*=============================== MAIN ===============================*/

main {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.conteudo {
    width: 70vw;
    height: 75vh;
    background-color: #0077b6;
    display: flex;
    margin-top: 105px;
}

/*=============================== MAIN - ESQUERDA ===============================*/
.esquerda {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.esquerda .titulo {
    width: 90%;
    height: 300px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.esquerda .titulo h1 {
    font-size: 65px;
    font-weight: 900;
    color: #d8e5fa;
    font-family: 'Montserrat', sans-serif;
    line-height: 70px;
    margin-bottom: 20px;
    padding-left: 30px;
}

.esquerda .titulo p {
    width: 80%;
    font-size: 17px;
    font-weight: 400;
    color: #d8e5fa;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    margin-bottom: 10px;
}

.esquerda img {
    width: 45%;
    height: 70px;
}

.direita {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*=============================== MAIN - DIREITA ===============================*/

.direita img {
    margin-left: 56px;
    margin-bottom: 8px;
    height: 300px;
    width: 200px;
    box-shadow: -100px 55px #f0eafccc;
}

.direita p {
    width: 35%;
    font-size: 14px;
    font-weight: 300;
    color: #076292;
    font-family: 'Montserrat', sans-serif;
    margin-right: 120px;
}
/*
#0077b6
#d8e5fa
#f0eafc
#a9dcf7
#91d7f5
#61cef2
#c0e1f9
#79d3f4
*/

/*=============================== SECTION ===============================*/

.infoDump {
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.infoDumpContainer {
    width: 70vw;
    display: flex;
    justify-content: space-evenly;
}

.infoDump .s-mid img {
    width: 150px;
    margin-right: 100px;
}

.s-left, .s-right {
    width: 250px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

.s-right {
    flex-direction: column;
    width: 120px; 
    align-items: flex-start;
    padding-left: 30px;
    margin-right: 40px;
}

.s-right p {
    font-size: 10px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(131, 131, 131);
}

.s-right p:first-child {
    margin-left: 10px;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #135970;
}

.s-left p {
    margin-right: 40px;
    color: #135970;
}

/*======================================= FOOTER =======================================*/

footer {
    display: flex;
    justify-content: center;
    height: 90vh;
    padding-bottom: 180px;
}

footer .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0eafc;
    height: 100%;
}

.conteudo-maior {
    display: flex;
    height: 90%;
}

.conteudo-maior .esquerda h1 {
    color: #196c88;
}

.conteudo-maior .esquerda p {
    color: #196c88;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

/*=============================== FORMULÁRIO ===============================*/

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;   
    border: none;
}

input {
    margin: 5px;
    border: none;
    font-size: 13px;
    border-radius: 4px;
    height: 40px;
    padding-left: 15px;
    color: #5c5c5c;
    width: 270px;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn input {
    width: 90px;
    height: 25px;
    cursor: pointer;
    margin-top: 15px;
    padding: 0;
    font-size: 12px;
    background-color: #076292;
    color: #d8e5fa;
}

/*=============================== NAV FOOTER ===============================*/
.strip-bottom {
    height: 50px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #e4e0ec;
}

.strip-bottom .tagA {
    color: #196c88;
}